html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
p,
form,
button, #activate_random {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  align-items: center;
}

:root {
  --h1: 3.815rem;
  --h2: 2.852rem;
  --h3: 2.441rem;
  --h4: 1.953rem;
  --h5: 1.563rem;
  --h6: 1.25rem;
}

.selection {
  text-align: center;
}

h1 {
  font-size: 3.815rem;
}
h2 {
  font-size: 2.852rem;
}
h3 {
  font-size: 2.441rem;
}
h4 {
  font-size: 1.953rem;
}
h5 {
  font-size: 1.563rem;
}

label, button{
    font-size: 2rem;
}

.website_title{
  color:rgb(53, 74, 114);
}

.input_button, .clear_input, .activate_button, .history{
  background-color: rgb(255, 255, 255);
}

#input, .clear_input, .input_button{
  color:rgb(93, 67, 146);
  
}

#activate_random, .activate_button{
  color:rgb(67, 127, 129);
}

#technical, .return{
  color:royalblue;
}

#container-box{
    margin: auto;
    size: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.card {
  border-radius: 1.5rem;
  border-width: 1rem;
  width: fit-content;
  height: fit-content;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1rem groove;
  border-color: black;
}

button:hover {
  scale: 90%;
  filter: drop-shadow(0 0 0.75rem rgb(181, 181, 181));
}

#activate_random{
    text-align: center;
    margin: 2rem;
}

.clear_input{
    align-self: center;
}

.input_button, .activate, .clear_input, input {
  padding: 0.3rem;
  margin: 0.2rem;
  border-radius: 1.5rem;
  font-size: 2rem;
  size: 2rem;
  align-self: center;
  text-align: center;
}

.remove {
    padding: 0.3rem;
    margin: 0.2rem;
    border-radius: 1.5rem;
    font-size:1.5rem;
}

.card-name{
  font-size: 2rem;
  line-height: 3rem;
}